@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

html
@{
    ViewData["Title"] = "Search Reservations";
}

<h2>Search Reservations</h2>

<form asp-action="Search" method="post">
    <label>Reservation Number:</label>
    <input type="text" name="reservationNumber" class="form-control" />

    <label>Customer Name:</label>
    <input type="text" name="customerName" class="form-control" />

    <button type="submit" class="btn btn-primary mt-3">Search</button>
</form>